@charset "utf-8";
/* CSS Document */




/* Reset */

html, body { margin: 0; padding: 0; border: 0;  
				background: transparent; font-size:10px;  }

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li, 
table, tr, th, td, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	}

img 	{ margin:0; padding:0; border:0; }
	

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike { 
	font-family:"PP Telegraf";
	font-size:100%;
	font-weight: normal;
	font-style: normal;
	
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
	}



/* Background */

html {    
    background: url("../image/website.png") no-repeat center fixed;     
    background-size: cover;
     }

body	{}



/* Headings */

h1, h2, h3, h4, h5, h6, h7, h8 {color: #000; }

h1 { }
h2 { font-size:23px; color: white; margin-bottom: 15px;}
h3 { }
h4 { font-size:20px; color: white; margin-top: 20px; margin-bottom: 15px; font-weight: bold}
h5 { }
h6 { font-size:20px; color: white; margin-top: 5px; margin-bottom: 5px; font-weight: bold}
h7 {}
h8 {}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }



/* Text Elements */

p           	{ color:#000; font-size:12px; line-height:150%;  }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }


a:link			{ color: #FFFFFF;  }
a:visited		{ color: #FFFFFF;  }
a:hover     	{ color: #7ED957;  }
a:active		{ color: #000;  }
a:focus			{ color: #7ED957;  }
a.current       { color: #7ED957;  }




/* Main Containers */

#logo               { 
	margin-top: 50px;
    margin-left: 25px;
	
                      }

                      
#click              { margin-top: 380px;
                      margin-left:725px;}

#click a        { font-size: 20px;}



/* side navigation menu */
.sidebar {
  margin-top: 30px;
  padding: 0;
  width: 130px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.add {
  margin-top: 30px;
  padding: 0;
  width: 180px;
  position: fixed;
  height: 100%;
  overflow: auto;
}


/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
font-size: 20px;
  padding:10px 25px;;
  text-decoration: none;
}

/* Activelink */
.sidebar a.active {
  color: #7ED957;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #FF00C6;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}








